body { padding-top: 55px;
	background-image:linear-gradient(white,#6666ff);
}
.navbar {
    background-color: #7e7e7e;
     color:white;
}
.navbar a {
    color:red;
}
.navbar .divider-vertical {
	color:black;
	height: 40px;
	margin: 4px 2px;
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #ffffff;
}
.zone {
	border: 2px solid blue;
	height: 500px;
	background-color: #f2f2f2;
	
}