logs
project/project
project/target
target
tmp
.history
/.idea
/*.iml
*.log
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.springBeans
src/main/main.iml
src/test/test.iml
/src/main/webapp/node_modules/
/src/main/webapp/dist/
/src/main/webapp/etc/
/src/main/webapp/node/
/node_modules/
/data/
