<div class="ui secondary pointing menu">
    <div class="right menu">
        <a class="ui item">
            <span><strong>{{username}}</strong> | </span>

            <div ng-click="logout()">
                Logout
                <i class="icon sign out"></i>
            </div>
        </a>
    </div>
</div>

<div class="ui segment">
    <h2 class="ui header">
        <a class="ui green ribbon label" ng-hide="currentStory.ended">Vote in progress</a>
        <a class="ui red ribbon label" ng-show="currentStory.ended">Vote has ended</a>

        <img src="/app/components/home/img/jira.png">

        <div class="content" ng-show="stories.length > 0">
            {{currentStory.storyName}}
            <div class="sub header">Story # {{currentStory.order}}/{{stories.length}}</div>
        </div>
        <div>
            <div class="ui toggle checkbox" ng-show="currentUser.admin">
                <input type="checkbox" name="vote" ng-disabled="currentStory.ended" ng-model="currentStory.ended"
                       ng-click="endVote()">
                <label>End vote</label>
            </div>

        </div>
    </h2>

    <div class="ui grid">
        <div class="ui ten wide column">
            <!-- voting zone -->
            <div class="ui horizontal divider">
                Votes
            </div>
            <div class="ui five cards">
                <div class="ui card"
                     ng-class="getColor(user.vote)"
                     ng-repeat="user in users">
                    <div class="image" ng-class="{'vote-active': user.hasVoted}" ng-hide="currentStory.ended">
                        <img src="/app/components/home/img/cardback.svg">
                    </div>
                    <div class="content">
                        <div class="header capitalize center-text">
                            <p>{{user.username}}</p>

                            <p ng-show="currentStory.ended">{{getCard(user.vote).value}}</p>
                        </div>
                        <div class="meta capitalize center-text" ng-show="currentStory.ended">
                            {{getCard(user.vote).unit}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- cards zone -->
            <div class="ui horizontal divider">
                Select a card
            </div>
            <div class="ui five link cards">
                <div class="card {{card.color}} {{card.animate}}"
                     ng-click="selectCard(card)"
                     ng-repeat="card in cards">
                    <div class="content">
                        <div class="header capitalize center-text">{{card.value}}</div>
                        <div class="meta capitalize center-text ">
                            {{card.unit}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="ui six wide column">
            <!-- results -->
            <div class="ui mini statistics">
                <div class="ui green statistic">
                    <div class="label">
                        <i class="archive icon"></i>
                        Votes
                    </div>
                    <div class="text value">
                        {{votes.length}}
                    </div>
                </div>

                <div class="ui yellow statistic">
                    <div class="label">
                        <i class="arrow down icon"></i>
                        Min
                    </div>
                    <div class="text value">
                        {{min}}
                    </div>
                </div>

                <div class="ui orange statistic">
                    <div class="label">
                        <i class="arrow up icon"></i>
                        Max
                    </div>
                    <div class="text value">
                        {{max}}
                    </div>
                </div>
            </div>
            <!-- info zone -->
            <div class="ui top attached tabular menu">
                <div class="item" ng-class="{active: info.selected == 'users'}" ng-click="info.selected = 'users'">
                    <i class="icon users"></i>
                    Users
                </div>
                <div class="item" ng-class="{active: info.selected == 'stories'}" ng-click="info.selected = 'stories'">
                    <i class="icon tasks"></i>
                    Stories
                </div>
            </div>
            <div class="ui bottom attached tab segment" ng-class="{active: info.selected == 'users'}">
                <div class="ui list">
                    <div class="item capitalize" ng-repeat="user in users">{{user.username}}</div>
                </div>
            </div>

            <div class="ui bottom attached tab segment" ng-class="{active: info.selected == 'stories'}">
                <div class="ui move right reveal" ng-class="{active: showAddStory}" ng-show="currentUser.admin">
                    <div class="visible content">
                        <div class="add-story-button">
                            <button class="ui circular icon button block" ng-click="addStory()">
                                <i class="add icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="hidden content">
                        <div class="ui left icon input">
                            <input type="text" placeholder="Story name" class="add-story-input"
                                   ng-enter="addStory()"
                                   ng-model="newStory.storyName">
                            <i class="wizard icon"></i>
                        </div>
                    </div>
                </div>


                <table class="ui selectable table">
                    <thead>
                    <tr>
                        <th class="left aligned">Status</th>
                        <th>#</th>
                        <th>Name</th>
                        <th class="right aligned" ng-show="currentUser.admin">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="story in stories" ng-click="setCurrentStory(story)">
                        <td class="left aligned">
                            <button class="circular ui icon button">
                                <i class="icon flag"
                                   ng-class="{outline : story.storyId !== currentStory.storyId,
                                   grey : story.storyId !== currentStory.storyId,
                                   green : story.storyId == currentStory.storyId}">
                                </i>
                            </button>
                        </td>
                        <td>{{story.order}}</td>
                        <td>{{story.storyName}}</td>
                        <td class="right aligned" ng-show="currentUser.admin && story.storyId !== currentStory.storyId">
                            <div class="ui small basic icon buttons">
                                <button class="ui button" ng-click="removeStory(story)"><i class="remove icon"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>