<div class="ui secondary pointing menu">
    <div class="right menu">
        <a class="ui item">
            <span><strong>{{username}}</strong> | </span>

            <div ng-click="logout()">
                Logout
                <i class="icon sign out"></i>
            </div>
        </a>
    </div>
</div>

<div class="ui segment">
    <h2 class="ui header">
        <img src="/app/components/home/img/jira.png">

        <div class="content" ng-show="currentStory.total > 0">
            {{currentStory.name}}
            <div class="sub header">Story # {{currentStory.index}}/{{currentStory.total}}</div>
        </div>
    </h2>

    <div class="ui grid">
        <div class="ui ten wide column">
            <!-- voting zone -->
            <div class="ui horizontal divider">
                Votes
            </div>
            <div class="ui five cards">
                <div class="ui card" ng-repeat="user in users">
                    <div class="image">
                        <img src="/app/components/home/img/cardback.svg">
                    </div>
                    <div class="content">
                        <a class="header capitalize center-text">{{user.name}}</a>
                    </div>
                </div>
            </div>
            <!-- cards zone -->
            <div class="ui horizontal divider">
                Select a card
            </div>
            <div class="ui five link cards">
                <div class="card {{card.color}} {{card.animate}}"
                     ng-click="selectCard(card)"
                     ng-repeat="card in cards">
                    <div class="content">
                        <div class="header capitalize center-text">{{card.value}}</div>
                        <div class="meta capitalize center-text ">
                            {{card.unit}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="ui six wide column">
            <!-- results -->
            <div class="ui statistics">
                <div class="ui yellow statistic">
                    <div class="label">
                        Min
                    </div>
                    <div class="value">
                        -
                    </div>
                </div>

                <div class="ui orange statistic">
                    <div class="label">
                        Max
                    </div>
                    <div class="value">
                        -
                    </div>
                </div>
            </div>
            <!-- info zone -->
            <div class="ui top attached tabular menu">
                <div class="item" ng-class="{active: info.selected == 'users'}" ng-click="info.selected = 'users'">
                    <i class="icon users"></i>
                    Users
                </div>
                <div class="item" ng-class="{active: info.selected == 'stories'}" ng-click="info.selected = 'stories'">
                    <i class="icon tasks"></i>
                    Stories
                </div>
            </div>
            <div class="ui bottom attached tab segment" ng-class="{active: info.selected == 'users'}">
                <div class="ui list">
                    <div class="item capitalize" ng-repeat="user in users">{{user.name}}</div>
                </div>
            </div>

            <div class="ui bottom attached tab segment" ng-class="{active: info.selected == 'stories'}">
                <table class="ui selectable table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th class="right aligned">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="story in stories" ng-click="selectStory(getIndex(story))">
                        <td>{{getIndex(story) + 1}}</td>
                        <td>{{story}}</td>
                        <td class="right aligned">
                            <i class="icon flag"
                               ng-class="{outline : story !== currentStory.name, grey : story !== currentStory.name,
                               green : story == currentStory.name}">
                            </i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>